header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 5;
}
header > .container.sm {
  padding: 0 120px;
}
header .hidden {
  display: none !important;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
header nav.active {
  padding-bottom: 10px;
}
header nav .logo {
  align-self: first baseline;
  padding: 5px 35px 5px 0;
  cursor: pointer;
}
header nav .logo svg {
  fill: var(--main-red);
}
header nav .logo svg.st {
  display: none;
}
header nav .status-bar {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 5px;
}
header nav .status-bar .lang {
  padding: 0 5px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .status-bar .lang:hover {
  background-color: var(--main-hover);
}
header nav .status-bar .account-bar {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0 15px;
  border: 1px solid var(--main-border);
  border-radius: 30px;
  padding: 8px 12px;
}
header nav .status-bar .account-bar:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}
header nav .status-bar .account-bar .account {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
header nav .status-bar .account-bar .account svg {
  fill: var(--silver);
}
header nav .status-bar .account-bar .account img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header nav .status-bar .account-bar .account-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 55px;
  right: 0;
  width: 240px;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.13);
  border-radius: 13px;
  z-index: 3;
}
header nav .status-bar .account-bar .account-menu div {
  padding: 8px 0;
  border-bottom: 1px solid var(--main-border);
}
header nav .status-bar .account-bar .account-menu li {
  position: relative;
  cursor: pointer;
}
header nav .status-bar .account-bar .account-menu li a {
  display: block;
  padding: 10px 15px;
  color: black;
  font-weight: 650;
  font-size: 16px;
  height: 100%;
}
header nav .status-bar .account-bar .account-menu li a:hover {
  background-color: var(--main-hover);
}
header nav .status-bar .account-bar .account-menu.active {
  visibility: visible;
  opacity: 1;
}

section.wishlist-body {
  margin-top: 100px;
}
section.items-body {
  margin-top: 270px;
}

.container-main > header {
  border-bottom: 1px solid var(--main-border);
}

.container {
  position: relative;
}
.container.sm {
  padding: 0 120px;
}
.container .title {
  font-size: 22px;
  padding: 30px;
  padding-left: 0;
}
.container .category-list {
  display: flex;
  gap: 10px;
  padding: 15px 0;
  padding-bottom: 0;
}
.container .category-list .list {
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 35px;
}
.container .category-list .list .list-item {
  transition: none;
  padding: 10px 0px;
  text-align: center;
  cursor: pointer;
  line-height: 1;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  align-items: center;
  color: var(--silver);
  border-bottom: 2px solid white;
}
.container .category-list .list .list-item.active {
  color: var(--black);
  border-bottom: 3px solid var(--black);
}
.container .category-list .list .list-item.active img {
  opacity: 1;
}
.container .category-list .list .list-item:hover {
  color: var(--black);
  border-color: var(--main-border);
}
.container .category-list .list .list-item:hover img {
  opacity: 1;
}
.container .category-list .list .list-item span {
  width: 100%;
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
}
.container .category-list .list .list-item img {
  display: inline-block;
  opacity: 0.55;
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
}
.container .category-list h1 {
  width: 25%;
}
.container.card-container {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-content: space-between;
  gap: 30px 5px;
}
.container.card-container .item-wrp {
  padding: 5px;
}
.container.card-container .item {
  cursor: pointer;
  color: black;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 16px;
}
.container.card-container .item .item-body {
  padding: 10px 0;
}
.container.card-container .item .item-dad {
  position: relative;
  border-radius: 14px;
  overflow: hidden;
}
.container.card-container .item .item-dad .swiper-nav {
  visibility: hidden;
  opacity: 0;
  display: flex;
  z-index: 3;
  position: absolute;
  width: 100%;
  padding: 0 10px;
  top: 50%;
  left: 0;
  justify-content: space-between;
  transform: translateY(-50%);
}
.container.card-container .item:hover .swiper-nav {
  visibility: visible;
  opacity: 1;
}

.container.card-container .item .item-dad .swiper-nav .swiper-btn {
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.85;
  transition: all 0.3s;
}
.container.card-container .item .item-dad .swiper-nav .swiper-btn:hover {
  opacity: 1;
  transform: scale(1.05);
}
.container.card-container .item .item-img {
  position: relative;
  overflow: hidden;
  height: 300px;
}
.container.card-container .item .item-img img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.container.card-container .item .like-btn {
  cursor: pointer;
  z-index: 3;
  position: absolute;
  top: 15px;
  right: 15px;
  stroke: #fff;
  transition: all 0.15s;
}
.container.card-container .item .like-btn:hover {
  transform: scale(1.1);
}
.container.wishlist .title {
  font-size: 32px;
  letter-spacing: 0px;
}
.container.form-container {
  display: flex;
  justify-content: center;
}
.container.form-container form {
  position: relative;
  width: 40%;
  height: 550px;
  margin-top: 100px;
  border-radius: 30px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}
.container.form-container form * {
  font-family: "Raleway";
}
.container.form-container form input {
  margin-bottom: 10px;
  border: 1.6px solid var(--main-border);
  border-radius: 10px;
  height: 50px;
  width: 100%;
  display: block;
  padding: 10px 18px;
  font-size: 18px;
  outline: none;
  font-weight: 500;
}
.container.form-container form input:focus-visible {
  border-color: var(--silver);
}
.container.form-container form input::placeholder {
  font-size: 18px;
  right: 15px;
}
.container.form-container form input.error {
  border-color: var(--main-red);
}
.container.form-container form input.error::placeholder {
  color: var(--main-red);
}
.container.form-container form input[type=submit] {
  background-color: var(--main-red);
  color: white;
  font-size: 18px;
  cursor: pointer;
  background-size: 200% 200%;
  background-position: calc((100 - var(--mouse-x, 0)) * 1%) calc((100 - var(--mouse-y, 0)) * 1%);
  background-image: var(--linaria);
  --mouse-x: 92.59112365319579;
  --mouse-y: 0.4166603088378906;
  border: none;
}
.container.form-container form .form-head {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--main-border);
  padding: 18px;
  text-align: center;
}
.container.form-container form .form-head h1 {
  font-size: 18px;
  font-weight: 650;
}
.container.form-container form .form-body {
  padding: 26px;
}
.container.form-container form .form-body h1 {
  font-weight: 600;
  margin-bottom: 20px;
}
.container.form-container form .form-body .password-box {
  position: relative;
}
.container.form-container form .form-body .password-box span {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -40%);
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.container.form-container form .form-body .password-box span svg {
  fill: var(--silver);
  width: 20px;
  height: 20px;
}
.container.form-container form .form-footer {
  padding: 0 26px;
}
.container.form-container form .form-footer .line-box {
  padding: 15px 0;
  position: relative;
}
.container.form-container form .form-footer .line-box .line {
  width: 100%;
  height: 1px;
  background-color: var(--main-border);
}
.container.form-container form .form-footer .line-box p {
  position: absolute;
  font-size: 14px;
  font-weight: 600;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
  background-color: #fff;
}
.container.form-container form .form-footer .auth-forms {
  padding: 10px 0;
}
.container.form-container form .form-footer .auth-forms button {
  background-color: transparent;
  position: relative;
  width: 100%;
  padding: 16px 0;
  border: 1px solid var(--silver);
  border-radius: 10px;
  font-size: 16px;
  font-weight: 550;
  cursor: pointer;
}
.container.form-container form .form-footer .auth-forms button svg {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 24px;
  top: 50%;
  transform: translate(0, -50%);
}
.container.form-container form .form-footer .auth-forms button:hover {
  background-color: var(--main-hover);
}
.container.form-container form .form-footer .privacy {
  font-size: 14px;
  padding: 0 5px;
}
.container.form-container form .form-footer .privacy a {
  text-decoration: underline;
  cursor: pointer;
}

.menu-lg {
  min-width: 65%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 18px 0;
  min-height: 130px;
}
.menu-lg .menu {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 0 5px;
  text-transform: capitalize;
}
.menu-lg .menu li {
  padding: 10px 18px;
  border-radius: 26px;
}
.menu-lg .menu li:hover {
  background-color: var(--main-hover);
}
.menu-lg .menu li a {
  color: var(--silver);
}
.menu-lg .menu li a.active {
  color: var(--black);
  font-weight: 680;
}

.menu-wrapper-lg {
  position: absolute;
  margin-bottom: 3px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 850px;
  margin: 0;
}
.menu-wrapper-lg .form-bar {
  display: flex;
  justify-content: space-between;
  border-radius: 35px;
  border: 1px solid var(--main-border);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
}
.menu-wrapper-lg .form-bar > div {
  position: relative;
  width: 33.3333333333%;
  padding: 15px 30px;
  border-radius: 35px;
}
.menu-wrapper-lg .form-bar > div > h4,
.menu-wrapper-lg .form-bar > div p {
  display: none;
}
.menu-wrapper-lg .form-bar > div .date {
  display: flex;
  align-items: center;
  position: relative;
  width: 50%;
}
.menu-wrapper-lg .form-bar > div .date label {
  position: relative;
  width: 100%;
}
.menu-wrapper-lg .form-bar > div.wrapper:hover {
  background-color: var(--hover-label);
}
.menu-wrapper-lg .form-bar > div.date-wrapper {
  transition: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.menu-wrapper-lg .form-bar > div.date-wrapper > div {
  padding: 15px;
  border-radius: 34px;
  position: relative;
}
.menu-wrapper-lg .form-bar > div.date-wrapper > div:hover {
  background-color: var(--hover-label);
}
.menu-wrapper-lg .form-bar > div.date-wrapper .line {
  border-radius: 0;
  padding: 6px 0.5px;
  background-color: var(--main-border);
}
.menu-wrapper-lg .form-bar > div.user-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.menu-wrapper-lg .form-bar > div.user-wrapper button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: none;
  outline: none;
  border-radius: 50%;
  right: 10px;
  background-color: var(--main-red);
  z-index: 3;
  color: #fff !important;
  cursor: pointer;
}
.menu-wrapper-lg .form-bar > div.user-wrapper button:hover {
  background-color: #db0c64;
}
.menu-wrapper-lg .form-bar > div h5 {
  font-size: 13px;
  margin-bottom: 0;
  line-height: 1;
}
.menu-wrapper-lg .form-bar > div input {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 15px;
  font-weight: 650;
  height: 16px;
}
.menu-wrapper-lg .form-bar > div input::placeholder {
  color: var(--silver);
  font-weight: 400;
}
.menu-wrapper-lg .form-bar .line {
  align-self: center;
  border-radius: 0;
  padding: 0;
  width: 0.8px;
  height: 35px;
  position: relative;
  background-color: var(--main-border);
}

.menu-lg.active {
  min-height: 50px;
  transition: all 0.3s;
  gap: 0;
}
.menu-lg.active .menu {
  opacity: 0.3;
  transform: translate(0, -100px) scale(0.5);
  align-self: center;
  height: 1px;
}
.menu-lg.active .menu-wrapper-lg {
  position: relative;
  width: 41%;
  cursor: pointer;
}
.menu-lg.active .menu-wrapper-lg .form-bar.active {
  border-radius: 30px;
  border: 1px solid var(--main-border);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  display: flex;
}
.menu-lg.active .menu-wrapper-lg .form-bar.active div {
  padding: 12px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 33.3333333333%;
  border-radius: 35px;
}
.menu-lg.active .menu-wrapper-lg .form-bar.active div > h4,
.menu-lg.active .menu-wrapper-lg .form-bar.active div p {
  display: table;
}
.menu-lg.active .menu-wrapper-lg .form-bar.active div:hover {
  background-color: #fff;
}
.menu-lg.active .menu-wrapper-lg .form-bar.active div.date-wrapper {
  border-radius: 35px;
  padding: 12px 0;
}
.menu-lg.active .menu-wrapper-lg .form-bar.active div.user-wrapper {
  font-size: 16px;
  justify-content: space-between;
  gap: 10px;
}
.menu-lg.active .menu-wrapper-lg .form-bar.active div.user-wrapper svg {
  width: 13px !important;
  height: 13px !important;
}
.menu-lg.active .menu-wrapper-lg .form-bar.active div.user-wrapper button {
  width: 30px;
  height: 30px;
}
.menu-lg.active .menu-wrapper-lg .form-bar.active div.line {
  width: 1.5px;
  padding: 0;
}
.menu-lg.active .menu-wrapper-lg .form-bar.active .line {
  height: 25px;
}
.menu-lg.active .menu-wrapper-lg .form-bar.active .form-local,
.menu-lg.active .menu-wrapper-lg .form-bar.active .date {
  display: none;
}

@media screen and (max-width: 1440px) {
  .container {
    padding: 0 40px;
  }
}
@media screen and (max-width: 1130px) {
  header nav .logo {
    padding: 5px 100px 5px 0;
  }
  header nav .logo svg.lg {
    display: none;
  }
  header nav .logo svg.st {
    display: block !important;
  }
  .card-container {
    grid-template-columns: repeat(3, 33.3333333333%);
  }
  .menu-lg.active .menu-wrapper-lg {
    width: 55%;
  }
  .menu-lg.active .menu-wrapper-lg .form-bar.active {
    font-size: 15px;
  }
  .menu-lg.active .menu-wrapper-lg .form-bar.active div {
    padding: 0;
  }
  .menu-lg.active .menu-wrapper-lg .form-bar.active div:last-child {
    width: 40%;
    padding: 0 0 0 10px;
    gap: 50px;
  }
}
@media screen and (max-width: 950px) {
  .card-container {
    grid-template-columns: repeat(2, 50%);
  }
  .card-container .item .item-img {
    position: relative;
    overflow: hidden;
    height: 350px;
  }
  .menu-lg {
    margin-top: 50px;
  }
  .menu-lg.active {
    margin: 0;
    width: 50% !important;
    align-self: flex-start;
  }
  .menu-lg.active .menu-wrapper-lg {
    width: 100%;
  }
  .menu-wrapper-lg {
    width: 150%;
    margin: 0;
  }
  .menu-wrapper-lg .form-bar > div {
    width: auto;
    padding: 15px 20px 15px 30px;
  }
  .menu-wrapper-lg .form-bar > div.user-wrapper {
    padding: 10px 30px 10px 15px;
  }
  .form-bar.active {
    width: 70%;
  }
  header nav {
    display: flex;
  }
  header nav.active .logo {
    padding: 5px 5px 5px 0;
  }
}

/*# sourceMappingURL=App.css.map */
